.output-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 2px solid #ddd;
    width: 100%;
}

.output-table td, .output-table th {
    border: 2px solid #ddd;
    padding:  8px;

}

// .output-table tr :nth-child(even) {background-color : #eee}

.output-table tr :hover {background-color: cadetblue; }

.output-table th {
 padding-top: 12px;
 padding-bottom:  12px;
 text-align: center;
 background-color: lightgreen;
 color: white;
}